*.pdf
*.toc
*.aux
*.log
*-blx.bib
*.bcf
*.run.xml
doc/*.out

*.backup
.*.sw[a-z]
.*~
*.bbl
*.blg
.DS_Store

target
.project
.settings
.classpath

*-points.txt

contours/rendered*.png
contours/processing*.png
